@font-face {
    src: url(./Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';    
    font-weight: normal;
} 


body {
    font-family: 'Roboto-Regular'; 
    margin: 0px 00px 00px 0;
    /* background-image: url(../img/fundo.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    bottom: 0;
    position: relative;
    text-align: center;
    border-radius: 20px;
}
.logo-lyceum {
    width: 100%;
    max-width: 220px;
    bottom: 0;
    position: relative;
    text-align: center;
    border-radius: 20px;
}

.parte {
    width: 100%;
    max-width: 500px;
    margin-top: 13%;
    margin-left: 5%;
}

.img {
    width: 100%;
}

.div-logo {
    position: relative;
    /* background-color: rgba(156, 163, 168, 0.466); */
    margin-top: 20px;
    margin-left: 20px;
    
}

.container {
    width: 100vw;
    height: 100vh;
    /* background-color: #00264e; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    text-align: center;
}

body {
    margin: 0px;
}

.text{
    color: #fff;
    font-weight: 600;
    margin-top: -50px;
    font-size: 35px;
}

.txt-chat{
    color: rgb(146, 145, 145);
    font-size: 30px;
    top: -10px;
    position: relative;
    font-weight: 600;
}